<!-- templates/home.html -->
{% extends 'base.html' %}


{% block content %}
	
	<div class="shad">
		<h2>Still Women Rise Foundation</h2>
		<p>A platform to hear young powerful womens journey to understand their womanhood and to encourage other young black ladies that it is thier time to step up. This young women have kindly and courageously shared with us.</p>
		<br>
		<div class="hug_right">
			<a href="{% url 'list' %}"><button>View our Stories</button></a>
		</div>
	</div>

{% endblock content %}
